/*
 * Variables 
 */

$primary: #394683;
$primary-dark: #1e2b5a;
$primary-light: #5d699a;

$secondary: #ffffff;
$secondary-light: #9b9b9b;
$secondary-dark: #fafbfc;

$color-error: #f56673;

$body-bg: #e7e9f3;

$text-color: #505050;
$text-light: #6e6f6f;
$menu-color: #ffffff;
$title-color: #333333;

$placeholder-color: #cfd3e0;

$font-family: 'Roboto', sans-serif;

$font-size-base: 13px;
$font-size-menu: 14px;
$font-size-title: 20px;
$font-weight: 400;
$font-size-sm: 12px;

$border-radius: 4px;
$border-color: #d4d9e2;