.company-page-similar-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 12px 12px 0 12px;

    a {
        text-decoration: none;
    }

    .img {
        margin-right: 5px;
    }

    &:last-of-type {
        padding-bottom: 12px;
    }
}